modules = ["python-3.11", "python3", "java-21", "nodejs-20", "java-21-openjdk", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetds", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "jdk21", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "maven", "netcat-gnu", "openjpeg", "openssh", "openssl", "pkg-config", "postgresql", "qhull", "tcl", "tk", "unixODBC", "zlib"]

[deployment]
deploymentTarget = "vm"
build = ["bash", "deploy_build.sh"]
run = ["java", "-Xms128m", "-Xmx384m", "-XX:+UseSerialGC", "-XX:MaxMetaspaceSize=128m", "-Dserver.port=5000", "-Dspring.jpa.hibernate.ddl-auto=update", "-jar", "backend/target/piuproject-1.0.0.jar"]
publicDir = "dist"


[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["python_log_in_with_replit:1.0.0", "python_database:1.0.0"]

[userenv]

[userenv.shared]
JWT_SECRET = "piu-project-microservices-jwt-secret-key-must-be-at-least-32-bytes-long"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080
