modules = ["python-3.11", "python3", "java-21", "nodejs-20", "java-21-openjdk", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetds", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "jdk21", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "maven", "netcat-gnu", "openjpeg", "openssh", "openssl", "pkg-config", "postgresql", "qhull", "tcl", "tk", "unixODBC", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[agent]
integrations = ["python_log_in_with_replit==1.0.0", "python_database==1.0.0"]

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 33577
externalPort = 3000

[[ports]]
localPort = 33761
externalPort = 3001

[[ports]]
localPort = 37717
externalPort = 4200

[[ports]]
localPort = 38923
externalPort = 3003

[userenv]

[userenv.shared]
JWT_SECRET = "piu-project-microservices-jwt-secret-key-must-be-at-least-32-bytes-long"
