{% extends 'base.html' %}
{% load static %}

{% block title %}Source Details - {{ source.issue_action_source }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">
                            <i class="bi bi-bookmark"></i> Source Details
                        </h4>
                        <div>
                            <a href="{% url 'Issues_Actions_monitoring:source_list' %}" class="btn btn-outline-light me-2">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                            <a href="{% url 'Issues_Actions_monitoring:source_update' source.pk %}" class="btn btn-warning">
                                <i class="bi bi-pencil"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-borderless">
                                <tr>
                                    <th class="text-muted" width="30%">Source Name:</th>
                                    <td><h5 class="text-primary">{{ source.issue_action_source }}</h5></td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Created By:</th>
                                    <td>
                                        {% if source.loginuser %}
                                            <i class="bi bi-person-circle"></i> {{ source.loginuser.username }}
                                        {% else %}
                                            <span class="text-muted">Unknown</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Created Date:</th>
                                    <td>{{ source.date_created|date:"F d, Y \a\t H:i" }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="d-grid gap-2">
                                <a href="{% url 'Issues_Actions_monitoring:source_update' source.pk %}" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i> Edit Source
                                </a>
                                <a href="{% url 'Issues_Actions_monitoring:source_delete' source.pk %}" class="btn btn-danger">
                                    <i class="bi bi-trash"></i> Delete Source
                                </a>
                                <hr>
                                <a href="{% url 'Issues_Actions_monitoring:source_create' %}" class="btn btn-success">
                                    <i class="bi bi-plus-lg"></i> New Source
                                </a>
                                <a href="{% url 'Issues_Actions_monitoring:dashboard' %}" class="btn btn-secondary">
                                    <i class="bi bi-speedometer2"></i> Dashboard
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}