<div class="mt-8 mb-4">
    <h1 class="text-2xl text-white">Delete kpi_for_contract</h1>
    
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-4">
        <strong class="font-bold">Warning!</strong>
        <span class="block sm:inline">Are you sure you want to delete this kpi_for_contract?</span>
    </div>
    
    <div class="my-4">
        <p class="text-white"><strong>project:</strong> {{ kpi_for_contract.project }}</p>
        <p class="text-white"><strong>type_of_investment:</strong> {{ kpi_for_contract.type_of_investment }}</p>
        <p class="text-white"><strong>Kpi_description:</strong> {{ kpi_for_contract.Kpi_description }}</p>
        <p class="text-white"><strong>monitoring_Type_Code:</strong> {{ kpi_for_contract.monitoring_Type_Code }}</p>
        <p class="text-white"><strong>monitoring_type:</strong> {{ kpi_for_contract.monitoring_type }}</p>  
        <p class="text-white"><strong>Date Created:</strong> {{ kpi_for_contract.date }}</p>
        <p class="text-white"><strong>Date Created:</strong> {{ kpi_for_contract.loginUser }}</p>
       
    </div>

    <div class="flex justify-end space-x-4 mt-6">
        <form hx-post="{% url 'delete-kpi_for_contract' pk=kpi_for_contract.pk %}" 
              hx-target="#kpi_for_contract-block">
            {% csrf_token %}
            <button type="submit" class="px-6 py-2 bg-red-600 text-white hover:bg-red-700 rounded">
                Confirm Delete
            </button>
        </form>
        <button type="button" 
                class="px-6 py-2 bg-gray-600 text-white hover:bg-gray-700 rounded"
                hx-get="{% url 'kpi_for_contract-list' %}"
                hx-target="#kpi_for_contract-block">
            Cancel
        </button>
    </div>
</div>