<div id="kpi_for_contract-block">
  <div role="alert" class="alert alert-info">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ message }}</span>
  </div>

  <div class="mt-4">
    <button class="btn btn-success"
      hx-get="{% url 'add-kpi_for_contract' %}"
      hx-target="#kpi_for_contract-block"
      hx-trigger="load">
      Add Another
    </button>
    <button class="btn btn-success"
      hx-get="{% url 'kpi_for_contract-list' %}"
      hx-target="#kpi_for_contract-block"
      hx-trigger="load">
      View Type Of Monitoring
    </button>
  </div>
</div>
